@mixin container($main: false) {
	max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    @if $main {
        min-height: 100vh;
        max-width: 1200px;
        width: 95vw;
    }
};

@mixin aside-items() {
	margin: 1rem 0 1rem 2rem;
    line-height: 1.5;
}

@mixin social() {
    display: flex;
    margin-top: 0.3rem;
    opacity: 0.4;
}