$txt-prim-color: #2d2d2d;
$txt-second-color: #616161;
$txt-second-color-darker: #7a7a7a;
$txt-link-color: #2d7ee2;
$txt-link-color-prim: #206fe8;
$txt-link-color-hover: #4688ec;
$footer-bg: #e4e4e4;
$easingElasticStart: all 0.3s cubic-bezier(0.88, -0.1, 0.77, 0.99);
$easingOut: all .3s ease-out;
$postBoxs-bg: #3c4454;
$hamburgerBg: #000;
