$txt-prim-color: #2d2d2d;
$txt-second-color: #616161;
$txt-second-color-darker: #7a7a7a;
$txt-link-color: #118def;
$txt-link-color-prim: #206fe8;
$txt-link-color-hover: #0077b5;
$footer-bg: #e4e4e4;
$easingElasticStart: transform .4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
$easingOut: all .3s ease-out;
$postBoxs-bg: #3c4454;
$hamburgerBg: #000;
