@import url("https://fonts.googleapis.com/css?family=Muli:500,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
@import "./include-media";
@import "./variables";
@import "./mixins";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Montserrat", sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//////////////////////////////////////////////////////////////////
//// I- Layout //// Navbar Styles ////////////////////////////////
//////////////////////////////////////////////////////////////////

.nav_primary {
	display: flex;
	width: 100%;
	height: 4rem;
	padding: 0 1.5rem;
	align-items: center;
	justify-content: space-between;
	position: relative;

	ul {
		list-style: none;
		display: inline-flex;

		li {
			font-family: "Muli", sans-serif;
			font-weight: 700;
			margin: 0 0.3rem;
		}

		a {
			font-size: 1rem;
			text-decoration: none;
			color: $txt-prim-color;
		}

		a:hover {
			color: #9a9a9a;
		}

		@include media(">tablet") {
			.active::after {
				display: block;
				content: "";
				width: 2rem;
				height: 0.3rem;
				margin: 0.2rem auto 0;
				background: $footer-bg;
			}
		}
	}

	.theke {
		display: inline-block;
		transition: 0.2s ease-out;
	}

	.theke:hover {
		opacity: 0.6;
	}
	.nav_large-vp {
		display: block;
	}
	.nav_small-vp {
		display: none;
	}

	.hamburger {
		padding: 15px 15px;
		display: inline-block;
		cursor: pointer;
		transition-property: opacity, filter;
		transition-duration: 0.15s;
		transition-timing-function: linear;
		font: inherit;
		color: inherit;
		text-transform: none;
		background-color: transparent;
		border: 0;
		margin: 0;
		outline: none;
		overflow: visible;
	}
	.hamburger:hover {
		opacity: 0.7;
	}
	.hamburger.is-active:hover {
		opacity: 0.7;
	}
	.hamburger.is-active .hamburger-inner,
	.hamburger.is-active .hamburger-inner::before,
	.hamburger.is-active .hamburger-inner::after {
		background-color: $hamburgerBg;
	}

	.hamburger-box {
		width: 30px;
		height: 24px;
		display: inline-block;
		position: relative;
	}

	.hamburger-inner {
		display: block;
		top: 50%;
		margin-top: -2px;
	}
	.hamburger-inner,
	.hamburger-inner::before,
	.hamburger-inner::after {
		width: 30px;
		height: 4px;
		background-color: $hamburgerBg;
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease;
	}
	.hamburger-inner::before,
	.hamburger-inner::after {
		content: "";
		display: block;
	}
	.hamburger-inner::before {
		top: -10px;
	}
	.hamburger-inner::after {
		bottom: -10px;
	}
	.hamburger--spin .hamburger-inner {
		transition-duration: 0.22s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	.hamburger--spin .hamburger-inner::before {
		transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
	}
	.hamburger--spin .hamburger-inner::after {
		transition: bottom 0.1s 0.25s ease-in,
			transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	.hamburger--spin.is-active .hamburger-inner {
		transform: rotate(225deg);
		transition-delay: 0.12s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	.hamburger--spin.is-active .hamburger-inner::before {
		top: 0;
		opacity: 0;
		transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
	}
	.hamburger--spin.is-active .hamburger-inner::after {
		bottom: 0;
		transform: rotate(-90deg);
		transition: bottom 0.1s ease-out,
			transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	@include media("<=tablet") {
		padding: 0 1.5rem;
		background: white;
		position: fixed;
		z-index: 15;
		height: 4rem;
		top: 0;
		left: 0;
		.nav_large-vp {
			display: none;
		}
		.nav_small-vp {
			display: block;
			&--items {
				position: fixed;
				z-index: 10;
				height: calc(100vh - 3.5rem);
				width: 40vw;
				transform: translateX(20rem);
				right: 0;
				opacity: 0;
				transition: $easingOut;
			}
			.--active {
				transform: translateX(0rem);
				opacity: 1;
			}
			.hidden {
				z-index: 0;
			}
		}
		ul {
			padding: 1rem 0;
			list-style: none;
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			background: #ffffff;
			box-shadow: -2px 12px 10px 0px #00000082;
			li {
				font-family: "Muli", sans-serif;
				font-weight: 700;
				padding: 1rem 0 1.5rem;
			}
		}
		.active {
			color: $txt-link-color;
			&::after {
				display: none;
			}
		}
		.hamburger {
			padding: 15px 0;
		}
	}
}

//////////////////////////////////////////////////////////////////
//// I- Layout //// Section Container Styles /////////////////////
//////////////////////////////////////////////////////////////////

.container {
	@include container($main: true);
	@include media("<1200px") {
		width: 95vw;
	}
	@include media("<=tablet") {
		margin-top: 5rem;
	}
}

//////////////////////////////////////////////////////////////////
//// I- Layout //// Footer Styles ////////////////////////////////
//////////////////////////////////////////////////////////////////

.footer {
	background: $footer-bg;
	width: 100%;
	border-top: 1px solid #cacaca;

	.fgrid {
		@include container($main: false);
		padding-top: 3.5rem;
		padding-bottom: 3.5rem;
		display: grid;
		grid-template-columns: 0.65fr 1fr 1fr;
		grid-gap: 1rem;
		align-items: start;
		justify-content: center;
	}

	.logo {
		width: fit-content;
		margin: auto;
		img {
			width: 10rem;
			opacity: 0.5;
		}
	}

	.apropos,
	.contact {
		display: flex;
		flex-direction: column;
		color: $txt-second-color;

		h3 {
			font-family: "Muli", sans-serif;
			font-size: 1rem;
			margin-bottom: 0.5rem;
			color: $txt-prim-color;
		}

		p,
		span {
			text-transform: lowercase;
			font-size: 0.85rem;
			line-height: 1.5;
		}

		a {
			color: $txt-link-color;
			font-weight: 500;
		}

		a:hover {
			color: #4e7cc2;
		}
	}

	.social {
		@include social();
		span {
			width: 1.3rem;
			margin-right: 1rem;
		}
	}
	@include media("<=800px") {
		.fgrid {
			grid-template-columns: 0.5fr 1fr;
			padding-top: 2.5rem;
			padding-bottom: 2.5rem;
		}
		.logo {
			display: flex;
			grid-row: 1/3;
			img {
				width: 8rem;
			}
		}
		.contact {
			grid-column: 2;
		}
	}
	@include media("<=600px") {
		.fgrid {
			grid-template-columns: 1fr;
			margin: 0 1rem;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}
		.logo {
			grid-row: 1;
			margin: 0 0 .5rem;
		}
		.contact {
			grid-column: initial;
		}
	}
}

//////////////////////////////////////////////////////////////////
//// II - Home ////  Featured Posts Styles ///////////////////////
//////////////////////////////////////////////////////////////////

.featured-posts {
	margin: 1.5rem 2rem 2.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1.3rem;
	align-items: center;
	justify-content: center;

	.post-box {
		transition: $easingElasticStart;
		transform: scale(1);
		background-size: cover;
		width: 100%;
		box-shadow: 0 2px 10px rgba(21, 18, 27, 0.5);
		height: 17rem;
		overflow: hidden;
		border-radius: 0.35rem;
		position: relative;
	}
	.post-box:hover {
		transform: scale(1.035);
		box-shadow: 0 2px 15px -2px rgba(40,34,49,.45);
	}
	.post-box:after {
		content: "";
		width: 100%;
		height: 100%;
		background: linear-gradient(0deg, black, #4e4e4ef0 40%, #7a7a7a52 60%);
		position: absolute;
		top: 0;
		border-radius: 0.35rem;
	}

	.over-box {
		transition: $easingOut;
		color: white;
		position: absolute;
		margin: 0 2.5rem;
		bottom: 1.5rem;
		right: 0;
		left: 0;
		display: inline-block;
		white-space: normal;
		text-overflow: ellipsis;
		z-index: 1;

		h3 {
			font-size: 1.2rem;
			font-family: "Muli", sans-serif;
			margin: 0 0 1rem;
			text-transform: capitalize;
			font-weight: normal;
		}

		p {
			font-size: 0.8rem;
			color: lightgray;
			line-height: 1.4;
			display: block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
	span {
		position: absolute;
		background: #4e4e4e;
		color: white;
		padding: 0.5rem 1.5rem;
		font-size: 0.85rem;
		top: 0;
		z-index: 5;
		right: 0;
		border-bottom-left-radius: 0.5rem;
		border-top-right-radius: 0.3rem;
	}

	@include media("<1200px") {
		margin: 1.5rem 1rem 2.5rem;
		.post-box {
			height: 16rem;
		}
	}

	@include media("<=980px", ">600px") {
		grid-template-columns: 1fr 1fr;
	}
	@include media("<=600px") {
		grid-template-columns: 1fr;
	}
	@include media("<tablet") {
		.post-box {
			height: 15.5rem;
		}
	}
	@include media("<=phoneL") {
		margin: 1rem 0 2rem;
		.post-box {
			height: 12rem;
			.over-box {
				margin: 0 1.25rem;
			}
		}
	}
}
.--featured {
	@include media("<=980px", ">600px") {
		a:nth-child(3) {
			display: none !important;
		}
	}
	@include media("<=600px") {
		a:nth-child(2),
		a:nth-child(3) {
			display: none !important;
		}
	}
}

//////////////////////////////////////////////////////////////////
//// II - Home ////  Main Section Container  /////////////////////
//////////////////////////////////////////////////////////////////

.main-section {
	display: grid;
	margin-bottom: 5rem;
	margin: 0 2rem;
	grid-template-columns: 3fr 0.35fr 1.2fr;

	//////////////////////////////////////////////////////////////////
	//// II - Home ////  1 - Blog Posts Styles ///////////////////////
	//////////////////////////////////////////////////////////////////

	.postcard-wrapper {
		margin-bottom: 2rem;
	}

	.postcard {
		h1 {
			font-family: "Muli", sans-serif;
			color: $txt-prim-color;
			font-size: 1.55rem;
			text-transform: capitalize;
			font-weight: 800;
			line-height: 1;
			width: 95%;
		}

		blockquote {
			font-size: 0.8rem;
			color: #757575;
			margin: 1rem 0;
		}

		.postcard_img {
			background-size: cover;
			background-position: center;
			border-radius: 0.3rem;
			width: 100%;
			height: 380px;
		}

		p {
			font-size: 0.85rem;
			margin: 1rem 0 0.5rem;
			color: $txt-second-color;
			line-height: 1.5;
		}

		.postcard_link {
			display: flex;
			justify-content: flex-end;
		}

		a {
			text-decoration: none;
			font-weight: 600;
			font-size: 15px;
			color: $txt-link-color;
			transition: all 0.2s ease-out;

			span {
				font-size: 1.2rem;
				width: 0px;
				display: inline-block;
				overflow: hidden;
				margin: 0 0 -0.3rem;
				transition: inherit;
			}
		}

		a:hover {
			color: $txt-link-color-hover;

			span {
				width: 20px;
			}
		}
	}

	@include media("<1000px") {
		grid-gap: 2.5rem;
		margin: 0 1rem;
		grid-template-columns: 2.3fr 1fr;
		.postcard .postcard_img {
			height: 370px;
		}
		.aside-box {
			grid-column: 2 !important;
		}
	}
	@include media("<=tablet") {
		grid-gap: 1.5rem;
		margin: 0 1rem;
		grid-template-columns: 2fr 1fr;
		.postcard .postcard_img {
			height: 280px;
		}
	}
	@include media("<=700px") {
		display: block;
		.aside-box {
			display: none;
		}
	}
	@include media("<=phoneL") {
		margin: 0;
		.postcard .postcard_img {
			height: 200px;
		}
	}

	//////////////////////////////////////////////////////////////////
	//// II - Home ////  Aside Box Styles ////////////////////////////
	//////////////////////////////////////////////////////////////////

	.aside-box {
		background: $footer-bg;
		border: 1px solid #cacaca;
		height: 530px;
		border-radius: 0.3rem;
		color: $txt-second-color-darker;
		font-size: 14px;
		grid-column: 3;
		margin: 1rem 0;
		position: sticky;
		top: 1rem;
		.aside-box_tags,
		.aside-box_recent,
		.aside-box_search,
		.aside-box_social {
			@include aside-items();
		}

		span {
			display: inline-block;
			margin-bottom: 0.5rem;
			font-family: "Muli", sans-serif;
			font-weight: 800;
			font-size: 16px;
			color: $txt-prim-color;
		}

		ul {
			list-style: none;

			li {
				white-space: nowrap;
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 85%;
			}
		}
		&_social {
			margin-left: 2rem;
			.social {
				@include social();
				span {
					width: 1.3rem;
					margin-right: 1rem;
				}
				a:hover {
					opacity: 0.7;
				}
			}
		}
	}
	a {
		color: inherit;
		text-decoration: none;
	}
	a:hover {
		color: $txt-prim-color;
		text-decoration: underline;
	}

	.aside-box_search {
		width: 75%;
		position: relative;
		.react-autosuggest__input {
			padding: 0.3rem;
			border-radius: 0.3rem;
			border: 1px solid #cacaca;
			width: 100%;
		}
		.react-autosuggest__suggestions-container {
			background: white;
			width: 100%;
			position: absolute;
			z-index: 5;
			border-right: 1px solid #e0e0e0;
			border-left: 1px solid #e0e0e0;
		}
		.react-autosuggest__suggestion {
			padding: 0.5rem;
			white-space: nowrap;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
			border-bottom: 1px solid #e0e0e0;
		}
		.react-autosuggest__suggestion--highlighted {
			background: #407ee2;
			color: white;
		}
	}

	//////////////////////////////////////////////////////////////////
	//// II - Home ////  2 - Pagination Styles ///////////////////////
	//////////////////////////////////////////////////////////////////

	.pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #7a7a7a;
		margin-bottom: 1rem;
		a {
			font-weight: 500;
			text-decoration: none;
			&:hover {
				text-decoration: none !important;
			}
		}
		.pagination_number {
			margin: 0 0.5rem;
			ul {
				list-style: none;
				display: inline-flex;
			}
			li {
				margin: 0.2rem;
			}
			.active-link {
				.pagination_number--box {
					background: #616161;
					color: white;
					border-color: #4e4e4e;
				}
			}
			&--box {
				border: 1px solid #cacaca;
				width: 2rem;
				height: 2rem;
				border-radius: 0.2rem;
				display: flex;
				align-items: center;
				color: $txt-second-color-darker;
				background: #e4e4e4;
				justify-content: center;
				&:hover {
					background: #cacaca;
					color: #4e4e4e;
				}
			}
		}
		.arrow {
			font-size: 2.5rem;
			font-weight: 400;
			margin: -2.2rem auto 0;
			height: 20px;
			width: 12px;
			text-decoration: none;
		}
	}
}

//////////////////////////////////////////////////////////////////
//// III - About //// Section Styles /////////////////////////////
//////////////////////////////////////////////////////////////////

.section {
	margin: 0 7rem 3rem;
	@include media("<=1200px") {
		margin: 0 0 4rem;
	}

	h3 {
		margin: 0px auto 3rem;
		font-size: 1.35rem;
		text-align: center;
		font-family: "Muli", sans-serif;
		color: $txt-prim-color;
	}

	.grid-table {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			"img1 txt1"
			"txt2 img2";
		grid-row-gap: 5rem;
		grid-column-gap: 1rem;
		width: 100%;
		align-items: center;

		.about-img {
			width: 350px;
			height: 280px;
			background-size: cover;
			background-position: left;
			background-repeat: no-repeat;
			border-radius: 0.5rem;
			margin: 0 1rem;
			box-shadow: 1px 1px 10px #0000007d;
		}

		p {
			font-size: 0.9rem;
			text-align: justify;
			line-height: 1.5;
			color: $txt-second-color;
			text-transform: lowercase;
		}

		.right {
			justify-self: right;
		}

		.left {
			justify-self: left;
		}
	}
	@include media("<=tablet") {
		margin: 0 0 5rem;
		h3 {
			font-size: 1.15rem;
		}
		.grid-table {
			grid-row-gap: 2rem;
		}
	}
	@include media("<=900px", ">phoneL") {
		.grid-table .about-img {
			width: 95% !important;
			height: 250px !important;
			margin: 0 0 !important;
		}
	}
	@include media("<=700px") {
		h3 {
			margin-bottom: 1rem;
		}
		.grid-table {
			grid-template-rows: 0.5fr 1fr;
			grid-column-gap: 0;
			grid-row-gap: 0.5rem;
			grid-template-areas:
				"img1 img1"
				"txt1 txt1"
				"img2 img2"
				"txt2 txt2";

			.left,
			.right {
				justify-self: center;
			}

			p {
				padding: 1.3rem 0;
			}
		}
	}
	@include media("<=phoneL") {
		.grid-table .about-img {
			width: 95% !important;
			height: 200px !important;
			margin: 0 0 !important;
		}
	}
}

//////////////////////////////////////////////////////////////////
//// IV - Blog-Post //// Section Styles //////////////////////////
//////////////////////////////////////////////////////////////////

.article_wrapper {
	.article_head {
		position: relative;

		h3 {
			position: absolute;
			top: 50%;
			color: white;
			font-size: 2.5rem;
			text-transform: capitalize;
			width: 100%;
			text-align: center;
			z-index: 5;
		}

		&--bg {
			height: 450px;
			width: 100%;
			background-size: cover;
			background-position: top;
			position: relative;
		}

		&--bg::after {
			content: "";
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			background: #0000009e;
		}
		@include media("<=phoneL") {
			&--bg {
				height: 250px;
			}
			h3 {
				top: 42%;
				font-size: 2rem;
			}
		}
	}

	.resp-sharing-button__link,
	.resp-sharing-button__icon {
		display: inline-block;
	}

	.resp-sharing-button__link {
		text-decoration: none;
		color: #fff;
		margin: 0.5em;
	}

	.resp-sharing-button {
		border-radius: 5px;
		transition: 25ms ease-out;
		padding: 0.5em 0.75em;
		font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	}

	.resp-sharing-button__icon svg {
		width: 1em;
		height: 1em;
		margin-right: 0.4em;
		vertical-align: top;
	}

	.resp-sharing-button--small svg {
		margin: 0;
		vertical-align: middle;
	}
	.resp-sharing-button__icon {
		stroke: #fff;
		fill: none;
	}
	.resp-sharing-button__icon--solid,
	.resp-sharing-button__icon--solidcircle {
		fill: #fff;
		stroke: none;
	}

	.resp-sharing-button {
		font-size: 0.85rem;
		&--twitter {
			background-color: #55acee;
			border-color: #55acee;
		}
		&--twitter:hover,
		&--twitter:active {
			background-color: #2795e9;
			border-color: #2795e9;
		}
		&--facebook {
			background-color: #3b5998;
			border-color: #3b5998;
		}
		&--facebook:active,
		&--facebook:hover {
			background-color: #2d4373;
			border-color: #2d4373;
		}
		&--linkedin {
			background-color: #0077b5;
			border-color: #0077b5;
		}
		&--linkedin:hover,
		&--linkedin:active {
			background-color: #046293;
			border-color: #046293;
		}
	}

	.article_body {
		margin: 1.5rem 1rem 0;
		padding-bottom: 1.5rem;
		line-height: 1.6;
		@include media("<=530px") {
			margin: 1.5rem 0 0;
		}
		pre {
			margin-bottom: 1rem;
		}

		h1 {
			margin: 0 0 1rem;
			font-size: 2rem;
			font-weight: 800;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $txt-prim-color;
			font-family: "Muli", sans-serif;
			margin: 0 0 1rem;
		}

		p {
			color: $txt-second-color;
			margin-bottom: 1rem;
			font-size: 0.95rem;
			font-weight: 400;
		}
		img {
			object-fit: cover;
			object-position: 50% 50%;
			height: 350px;
			width: 100%;
			padding: 1rem;
			margin: 0 auto 1rem;
			border-radius: 1.3rem;
		}
		blockquote {
			display: block;
			border-width: 2px 0;
			border-style: solid;
			border-color: #eee;
			padding: 1.5em 0 0.5em;
			margin: 1.5em 0;
			text-align: center;
			position: relative;
			p,
			p:only-of-type,
			p:first-of-type {
				color: $txt-second-color-darker;
				margin: 1rem;
				font-weight: 600;
				font-family: "Muli", sans-serif;
				font-size: 0.95em;
				&:last-of-type {
					content: "\2013 \2003"attr(cite);
					display: block;
					font-style: italic;
					font-weight: 500;
					text-align: right;
					text-transform: capitalize;
					font-size: 0.875em;
					margin: 0 2rem;
					color: #e74c3c;
					&::before {
						content: "-";
						margin: 0.3rem;
					}
				}
			}
		}
		blockquote:before {
			content: "\201C";
			position: absolute;
			top: 0em;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #fff;
			width: 3rem;
			height: 2rem;
			font: 6em/1.08em "PT Sans", sans-serif;
			color: #666;
			text-align: center;
		}
		ul,
		ol {
			margin: 0 1rem 1rem;
			color: $txt-second-color-darker;
			font-weight: 500;
		}
		code {
			background: #2d3b41;
			color: #f2f3f3;
			padding: 0.5rem;
			border-radius: 0.3rem;
		}
		a {
			color: #2d7ee2;
			font-weight: 400;
		}
	}
	.article_share {
		margin: 0 1rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-bottom: 1.5rem;
		font-size: 0.9rem;
		border-bottom: 2px solid lightgray;
		span {
			color: $txt-prim-color;
			font-size: 0.85rem;
			font-weight: 600;
			margin-right: 0.5rem;
		}
		@include media("<=530px") {
			margin: 0 0;
			flex-wrap: wrap;
			justify-content: normal;
			a {
				margin: 0.5rem 0.5rem 0.5rem 0;
			}
		}
	}
	.article_relative {
		margin: 0 1rem;
		.featured-posts {
			margin: 1.5rem 0 !important;
		}
	}
}

//////////////////////////////////////////////////////////////////
//// IV - articles //// Section Styles ///////////////////////////
//////////////////////////////////////////////////////////////////

.articles_nav {
	padding: 1rem;
	line-height: 2;
	height: 100%;
	width: initial;
	border-radius: 0.3rem;
	ul {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: center;
		li {
			display: block;
			margin: 0 0.2rem;
			a {
				font-size: 0.9rem;
				font-weight: 500;
				text-decoration: none;
				color: #717171;
			}
			a:hover {
				color: #95abc1;
			}
		}
	}

	.active {
		color: #1899ff;
		transition: 0.2s ease-out;
	}
	.active:after {
		display: none;
	}
	.active:hover {
		color: #1899ff;
	}

	@include media("<=530px") {
		padding: 1rem 0rem;
	}
}

.articles_msg {
	display: block;
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
	color: $txt-second-color;
	@include media("<=tablet") {
		margin: 5rem 1rem 0;
		ul li {
			margin: 0.15rem 0.3rem;
		}
	}
}
