@import url('https://fonts.googleapis.com/css?family=Muli:600,700,800,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//////////////////////////////////////////////////////////////////
//// I- Layout //// Navbar Styles ////////////////////////////////
//////////////////////////////////////////////////////////////////

nav {
  display: flex;
  width: 100%;
  height: 4.5rem;
  align-items: center;
  justify-content: space-between;
  ul {
    list-style: none;
    display: inline-flex;
    li {
      font-family: "Muli", sans-serif;
      font-weight: 600;
      margin: 0 0.3rem;
    }
    a {
      font-size: 1rem;
      text-decoration: none;
      color: $txt-prim-color;
    }
    a:hover {
      color: $txt-second-color;
    }

    .active::after {
      display: block;
      content: "";
      width: 2rem;
      height: 0.3rem;
      margin: 0.2rem auto 0;
      background: $footer-bg;
    }
  }
  .theke {
    display: inline-block;
    transition: 0.2s ease-out;
  }
  .theke:hover {
    opacity: 0.6;
  }
}

.container {
  @include container($main: true);
}

//////////////////////////////////////////////////////////////////
//// I- Layout //// Footer Styles ////////////////////////////////
//////////////////////////////////////////////////////////////////

.footer {
  background: $footer-bg;
  width: 100%;
  .fgrid {
    @include container($main: false);
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    align-items: start;
    justify-content: center;
  }
  .logo {
    width: fit-content;
    margin: auto;
    img {
      width: 10rem;
      opacity: 0.5;
    }
  }
  .apropos,
  .contact {
    display: flex;
    flex-direction: column;
    color: $txt-second-color;
    h3 {
      font-family: "Muli", sans-serif;
      font-size: 1.15rem;
      margin-bottom: 1rem;
      color: $txt-prim-color;
    }
    p,
    span {
      text-transform: lowercase;
      font-size: 0.9rem;
      line-height: 1.5;
    }
    a {
      color: $txt-link-color;
      font-weight: 600;
    }
    a:hover {
      color: #4e7cc2;
    }
  }
  .social {
    display: flex;
    margin-top: 0.3rem;
    opacity: 0.4;
    span {
      width: 1.3rem;
      margin-right: 1rem;
    }
  }
}

//////////////////////////////////////////////////////////////////
//// II - Home ////  Featured Posts Styles ///////////////////////
//////////////////////////////////////////////////////////////////

.featured-posts {
  margin: 1.5rem 1.5rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  .post-box {
    background-size: cover;
    width: 100%;
    box-shadow: 1px 1px 10px #0000007d;
    height: 17rem;
    border-radius: 0.35rem;
    position: relative;
  }
  .post-box:after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, black, #4e4e4ef0 40%, #7a7a7a52 60%);
    position: absolute;
    top: 0;
    border-radius: 0.35rem;
  }
  .over-box {
    color: white;
    position: absolute;
    margin: 0 2.5rem;
    bottom: 1.5rem;
    right: 0;
    left: 0;
    display: inline-block;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    h3 {
      font-size: 1.2rem;
      font-family: "Muli", sans-serif;
      margin: 0 0 1rem;
      text-transform: capitalize;
      font-weight: normal;
    }
    p {
      font-size: 0.8rem;
      color: lightgray;
      line-height: 1.4;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

//////////////////////////////////////////////////////////////////
//// II - Home ////  Main Section Container  /////////////////////
//////////////////////////////////////////////////////////////////

.main-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 0 1.5rem;

  //////////////////////////////////////////////////////////////////
  //// II - Home ////  Blog Posts Styles ///////////////////////////
  //////////////////////////////////////////////////////////////////

  .postcard-wrapper {
    margin-bottom: 3rem;
  }
  .postcard {
    margin-right: 4.5rem;
    h1 {
      font-family: "Muli", sans-serif;
      color: $txt-prim-color;
      font-size: 1.9rem;
      text-transform: capitalize;
      font-weight: 900;
      line-height: 1;
      width: 95%;
    }
    blockquote {
      font-size: 0.75rem;
      color: $txt-second-color;
      margin: 1rem 0;
    }
    div {
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 400px;
    }
    p {
      font-size: 0.9rem;
      margin: 1rem 0;
      color: $txt-prim-color;
      line-height: 1.5;
    }
  }

  //////////////////////////////////////////////////////////////////
  //// II - Home ////  Aside Box Styles ////////////////////////////
  //////////////////////////////////////////////////////////////////

  .aside-box {
    background: #e7e7e7;
    height: 600px;
    border-radius: 0.3rem;
    color: $txt-second-color;
    font-size: 14px;
    margin-left: 1rem;
    .aside-box_tags,
    .aside-box_recent {
      margin: 1rem 0 1rem 2rem;
      line-height: 1.5;
    }
    span {
      display: inline-block;
      margin-bottom: 0.5rem;
      font-family: "Muli", sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: $txt-prim-color;
    }
    ul {
      list-style: none;
      li {
        white-space: nowrap;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 85%;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////
//// III - About //// Section Styles /////////////////////////////
//////////////////////////////////////////////////////////////////

.section {
  margin: 0 7rem 10rem;
  h3 {
    margin: 0px auto 3rem;
    font-size: 1.35rem;
    text-align: center;
    font-family: "Muli", sans-serif;
    color: $txt-prim-color;
  }
  .grid-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "img1 txt1"
      "txt2 img2";
    grid-row-gap: 5rem;
    grid-column-gap: 1rem;
    width: 100%;
    align-items: center;
    .about-img {
      width: 350px;
      height: 280px;
      background-size: cover;
      background-position: left;
      background-repeat: no-repeat;
      border-radius: 0.5rem;
      margin: 0 1rem;
      box-shadow: 1px 1px 10px #0000007d;
    }
    p {
      font-size: 0.9rem;
      text-align: justify;
      line-height: 1.5;
      color: $txt-second-color;
      text-transform: lowercase;
    }
    .right {
      justify-self: right;
    }
    .left {
      justify-self: left;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    width: 90vw;
    min-height: 100vh;
  }
  .section {
    margin: 0 0 10rem;
  }
}

@media (max-width: 900px) {
  .about-img {
    width: 90% !important;
    height: 250px !important;
    margin: 0 0 !important;
  }
}

@media (max-width: 700px) {
  .section {
    .grid-table {
      grid-column-gap: 0;
      grid-row-gap: 0.5rem;
      grid-template-areas:
        "img1 img1"
        "txt1 txt1"
        "img2 img2"
        "txt2 txt2";
      .left,
      .right {
        justify-self: center;
      }
      p {
        padding: 1.3rem 0;
      }
    }
    h3 {
      margin-bottom: 2rem;
    }
  }
}
